body {
  margin: 0;
  padding: 0
}

.day:hover {
  background-color: rgb(68, 114, 221);
  color: white;
  cursor: pointer;
}

.selected {
  background-color: rgb(223, 147, 17);
  color: white
}

.selected:hover {
  background-color: rgb(223, 147, 17);
  color: white
}
